<h1>Data API Fetched In Batches</h1>
<p-table [value]="products" responsiveLayout="stack" styleClass="p-datatable-gridlines">
     <ng-template pTemplate="header">
          <tr>
               <th>Code</th>
               <th>Name</th>
               <th>Category</th>
               <th>Quantity</th>
          </tr>
     </ng-template>
     <ng-template pTemplate="body" let-product>
          <tr>
               <td>{{product.code}}</td>
               <td>{{product.name}}</td>
               <td>{{product.category}}</td>
               <td>{{product.quantity}}</td>
          </tr>
     </ng-template>
     <ng-template pTemplate="footer">
          <button class="p-col-1" type="button" pButton (click)="printPDF()" label="Download as PDF" icon="pi pi-print"></button>
     </ng-template>
</p-table>
<footer></footer>