<h1>Attendance Policy Violation</h1>
<div>
     <p>This is to inform you that you have violated the Yongsa attendance policy. We have to limit the number of students that can attend any given class due to capacity restrict for local fire
          codes. Because our class sizes are limited, it often happens that the demand for a given class is higher than the number of students allowed. This is why it is important that you only
          register for classes that you know that you can attend. If a conflict in your schedule accures, we appreciate it if you unregister for the class to allow that spot to be filled by another
          student.</p>
     <p>We understand that sometimes conflicts happen at the last minute. We have crafted our attendance policy with this in mind. Every student has one attendance violation waiver per cycle. Each
          additional attendance violation will result in a $5 attendance violation fee added to your account.</p>
</div>
<h1 style="margin-bottom: 0px;">Attendance Violation History</h1>
<table>
     <tr>
          <th style="width: 200px; text-align: left;">Class</th>
          <th style="width: 200px; text-align: left">Time</th>
          <th style="width: 200px; text-align: left">Attendance Violation</th>
     </tr>
     <tr>
          <td>Class 1</td>
          <td>Time 1</td>
          <td>Attendance Violation 1</td>
     </tr>
     <tr>
          <td>Class 2</td>
          <td>Time 2</td>
          <td>Attendance Violation 2</td>
     </tr>
     <tr>
          <td>Class 3</td>
          <td>Time 3</td>
          <td>Attendance Violation 3</td>
     </tr>
</table>