div {
     margin: 1rem 0 1rem 0;
}

h1 {
     margin-bottom: 0;
}

main {
     background: gray;
     color: white;
     border: 3px;
     border-style: solid;
     border-color: black !important;
}

main>div {
     border: 2px solid black;
     background-color: white;
     color: black;
     margin-left: 1em;
     padding: 2rem 0rem 2rem 1rem;
     width: 92%;
}

footer {
     padding-bottom: 1vh;
}

p {
     margin: auto;
}

@media screen and (min-width: 600px) {
     .replit-icon {
          padding-right: 5px;
     }
}

@media screen and (max-width: 600px) {
     .replit-icon {
          padding-right: 0;

     }
}

h1[id="Loading"] {
     color: red;
     animation: blinker 1s infinite;

}

@keyframes blinker {
     from {
          opacity: 1.0;
     }

     0% {
          opacity: 0;
     }

     to {
          opacity: 1.0;
     }
}