<section class="grid">
	<div class="col grid-center theme-color">
		<div class="col">
			<hr>
			<div id="dictionary"> wan·der·ing </div>
			<div id="pronunciation"> /ˈwänd(ə)riNG/ </div>
			<div id="part">adjective</div>
			<div id="definition">traveling aimlessly from place to place</div>
			<hr>
			<div id="call-to-action">Is your business wandering along the information superhighway, searching for a clear path to success? Allow me to be your guide. Let's embark on this
				transformative journey and chart a course to your business's thriving future. </div>
		</div>
	</div>
	<div *ngIf="showProfilePic" class="col grid-center" style="padding: 0;">
		<img id="cover" src="/assets/profile.png" />
	</div>
</section>
<main class="flex flex-wrap justify-content-center ">
	<p-card header="Martial Art Solutions" subheader="A Fullstack Angular Project">
		<ng-template pTemplate="header">
			<img alt="Card" src="assets/angular.png" />
		</ng-template>
		<div class="card-content">This project combines Angular JavaScript framework for a responsive frontend with Google Firebase for backend services. Angular's dynamic and scalable interface
			pairs with Firebase's efficient hosting, secure authentication, and real-time NoSQL database. This blend delivers a robust, user-friendly web application experience. </div>
		<ng-template pTemplate="footer">
			<p-button label="YouTube" icon="pi pi-youtube" (click)="openUrl('https://youtu.be/vIxN0FgPX7w?si=A1upepWca4OCpZmi')"></p-button>
		</ng-template>
	</p-card>
	<p-card header="React" subheader="A Fullstack React Sandbox">
		<ng-template pTemplate="header">
			<img alt="Card" src="assets/react.png" />
		</ng-template>
		<div class="card-content">Sandboxes serves as a safe experimentation zone, allowing me to explore new concepts without jeopardizing the integrity of my development and production
			environments. Because this sandbox is not production code for a specific customer, it is also an excellent place to demonstrate my programming ability. Feel free to review this sandbox
			code in Github or stackblitz.</div>
		<ng-template pTemplate="footer">
			<p-button label="YouTube" icon="pi pi-youtube" (click)="openUrl('https://youtu.be/CIpfTun_-jI?si=CLzNdb9N5X7d3zgG')"></p-button>
			<p-button class="ml-1" label="Github" icon="pi pi-github" (click)="openUrl('https://stackblitz.com/~/github.com/gharner/React.js')"></p-button>
		</ng-template>
	</p-card>
	<p-card header="Angular" subheader="A Fullstack Angular Sandbox">
		<ng-template pTemplate="header">
			<img alt="Card" src="assets/angular.png" />
		</ng-template>
		<div class="card-content">My freelance website it build using the Angular Framework. Angular encourages the use of modules, which helps in organizing the application into cohesive blocks of
			functionality. This modular approach makes it easier to manage and scale projects, especially large-scale applications, by allowing developers to reuse modules across different parts of
			the application. </div>
		<ng-template pTemplate="footer">
			<p-button label="YouTube" icon="pi pi-youtube" (click)="openUrl('https://youtu.be/RqcATYx3BBw?si=0Yds8EyX29JrXLau')"></p-button>
			<p-button class="ml-1" label="Github" icon="pi pi-github" (click)="openUrl('https://stackblitz.com/~/github.com/gharner/Angular')"></p-button>
		</ng-template>
	</p-card>
	<p-card header="Python" subheader="A REST api">
		<ng-template pTemplate="header">
			<img alt="Card" src="assets/python.png" />
		</ng-template>
		<div class="card-content">I've built a sandbox RESTful API using Python, leveraging the Flask framework for efficient HTTP request handling. This sandbox environment allows for safe testing
			and experimentation with features in a non-live setting. Designed to support CRUD operations, it offers a stateless, intuitive interface for seamless data manipulation. </div>
		<ng-template pTemplate="footer">
			<p-button label="YouTube" icon="pi pi-youtube" (click)="openUrl('https://youtu.be/8Owii0c-uO4?si=LAbMRBpFCKfAcnPi')"></p-button>
			<p-button class="ml-1" label="Github" icon="pi pi-github" (click)="openUrl('https://stackblitz.com/~/github.com/gharner/Python')"></p-button>
		</ng-template>
	</p-card>
	<p-card header="Node.js" subheader="A Node.js api">
		<ng-template pTemplate="header">
			<img alt="Card" src="assets/node.png" />
		</ng-template>
		<div class="card-content">I've developed a sandbox RESTful API using Google Firebase, a comprehensive app development platform. A standout feature within Firebase is 'Functions', which
			offers a serverless computing solution. This serverless architecture is highly scalable, ensuring your application can efficiently handle varying loads without manual intervention</div>
		<ng-template pTemplate="footer">
			<p-button label="YouTube" icon="pi pi-youtube" (click)="openUrl('https://youtu.be/tSJRGPzyT4I?si=AMUQKDrGFkvdl-B8')"></p-button>
			<p-button class="ml-1" label="Github" icon="pi pi-github" (click)="openUrl('https://stackblitz.com/~/github.com/gharner/node.js')"></p-button>
		</ng-template>
	</p-card>
	<p-card header="gregharner" subheader="npm install gregharner">
		<ng-template pTemplate="header">
			<img alt="Card" src="assets/npm.png" />
		</ng-template>
		<div class="card-content">I've created an NPM package containing a set of functions I regularly use in both Angular and React projects. This package enhances efficiency and consistency in my
			frontend development, offering reusable utilities for common tasks. </div>
		<ng-template pTemplate="footer">
			<p-button label="YouTube" icon="pi pi-youtube" (click)="openUrl('https://youtu.be/4Rr_7ErCHb8?si=6SxAs4wcY2lfjAwu')"></p-button>
			<p-button class="ml-1" label="Github" icon="pi pi-github" (click)="openUrl('https://stackblitz.com/~/github.com/gharner/gregharner')"></p-button>
		</ng-template>
	</p-card>
</main>
<footer></footer>